@import 'variables';

.accodion {
    display: inline-block;
    background-color: $text;
    max-width: 100px;
    height: auto;
    position: fixed;
    margin-top: 2.3rem;
    margin-left: -5.5rem;
    padding: 2rem 2.3rem 2rem 1rem;
    line-height: 1.6;
    border-radius: 15px;
    border: 1px solid gray;
    display: none;

    a {
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        font-family: overpass;
        color: $footer-background;
        cursor: pointer;
        
        &:hover, :active {
            opacity: .5;
        }
    
    }
}

.fa-chevron-down {
    cursor: pointer;
}